apiVersion: apps/v1
kind: Deployment
metadata:
  name: rdt-client
  labels:
    app: rdt-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rdt-client
  template:
    metadata:
      labels:
        app: rdt-client
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: region
                    operator: In
                    values:
                      - us
      containers:
        - name: rdt-client
          image: rogerfar/rdtclient:2.0.119
          ports:
            - containerPort: 6500
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          volumeMounts:
            - name: data
              mountPath: /data
            - name: downloads
              mountPath: /downloads
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /
              port: 6500
            initialDelaySeconds: 10
            periodSeconds: 60
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: rdt-client-data
        - name: downloads
          persistentVolumeClaim:
            claimName: rdt-client-downloads
