apiVersion: apps/v1
kind: Deployment
metadata:
  name: rdt-client
  labels:
    app.kubernetes.io/name: rdt-client
    app.kubernetes.io/part-of: homelab
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: rdt-client
  template:
    metadata:
      labels:
        app: rdt-client
    spec:
      automountServiceAccountToken: false
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: city
                    operator: In
                    values:
                      - zurich
      containers:
        - name: rdt-client
          image: rogerfar/rdtclient:2.0.119
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 6500
          env:
            - name: TZ
              value: Europe/Zurich
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          volumeMounts:
            - name: data
              mountPath: /data
            - name: downloads
              mountPath: /downloads
          resources:
            requests:
              cpu: 25m
              memory: 48Mi
            limits:
              # Memory can spike when handling large files
              memory: 8Gi
          livenessProbe:
            httpGet:
              path: /
              port: 6500
            initialDelaySeconds: 10
            periodSeconds: 60
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 6500
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 5
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: rdt-client-data
        - name: downloads
          hostPath:
            path: /mnt/downloads/
            type: DirectoryOrCreate
