# kube-prometheus-stack values
kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      retention: 15d
      resources:
        requests:
          cpu: 200m
          memory: 1Gi
        limits:
          memory: 2Gi
  grafana:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi
  alertmanager:
    enabled: false
