apiVersion: apps/v1
kind: Deployment
metadata:
  name: stirling-pdf
  labels:
    app: stirling-pdf
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: stirling-pdf
  template:
    metadata:
      labels:
        app: stirling-pdf
    spec:
      containers:
        - name: stirling-pdf
          image: docker.io/stirlingtools/stirling-pdf:2.1.1
          ports:
            - containerPort: 8080
          env:
            - name: TZ
              value: Europe/Zurich
            - name: DOCKER_ENABLE_SECURITY
              value: "false"
          volumeMounts:
            - name: data
              mountPath: /usr/share/tessdata
            - name: configs
              mountPath: /configs
            - name: logs
              mountPath: /logs
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              memory: 2Gi
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: region
                    operator: In
                    values:
                      - us
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: stirling-pdf-data
        - name: configs
          persistentVolumeClaim:
            claimName: stirling-pdf-configs
        - name: logs
          emptyDir: {}
