---
- name: restart k3s
  ansible.builtin.systemd:
    name: k3s
    state: restarted
  when: inventory_hostname in groups['kubernetes-control-plane']

- name: restart k3s-agent
  ansible.builtin.systemd:
    name: k3s-agent
    state: restarted
  when: inventory_hostname in groups['kubernetes-agent']
