---
- name: restart k3s
  ansible.builtin.systemd:
    name: k3s
    state: restarted
    daemon_reload: true
  when: inventory_hostname in groups['kubernetes-control-plane']
  listen:
    - restart k3s
    - reload and restart k3s
    - reload systemd and restart k3s

- name: restart k3s-agent
  ansible.builtin.systemd:
    name: k3s-agent
    state: restarted
    daemon_reload: true
  when: inventory_hostname in groups['kubernetes-agent']
  listen:
    - restart k3s-agent
    - reload systemd and restart k3s-agent
