apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared
data:
  config.yaml: |
    metrics: 0.0.0.0:2000
    no-autoupdate: true

    ingress:
    - hostname: n8n.bosscher.ch
      service: http://n8n.n8n.svc.cluster.local:5678
    - hostname: fusion.bosscher.ch
      service: http://fusion.fusion.svc.cluster.local:8080
    - hostname: shiori.bosscher.ch
      service: http://shiori.shiori.svc.cluster.local:8080
    - hostname: obsidian-live-sync.bosscher.ch
      service: http://couchdb.obsidian-live-sync.svc.cluster.local:5984
    - hostname: your-spotify.bosscher.ch
      service: http://your-spotify-web.your-spotify.svc.cluster.local:3000
    - hostname: wanderer.bosscher.ch
      service: http://wanderer.wanderer.svc.cluster.local:3000
    - hostname: norish.bosscher.ch
      service: http://norish.norish.svc.cluster.local:3000
    - hostname: searchxng.bosscher.ch
      service: http://perplexica-searxng.perplexica.svc.cluster.local:8080
    - hostname: perplexica.bosscher.ch
      service: http://perplexica.perplexica.svc.cluster.local:3000
    - hostname: stacks.bosscher.ch
      service: http://stacks.books.svc.cluster.local:7788
    - hostname: calibre-web.bosscher.ch
      service: http://calibre-web.books.svc.cluster.local:8083
    - hostname: audiobookshelf.bosscher.ch
      service: http://audiobookshelf.audiobookshelf.svc.cluster.local:80
    - hostname: listenarr.bosscher.ch
      service: http://listenarr.listenarr.svc.cluster.local:5000
    - hostname: stremio.bosscher.ch
      service: http://stremio.stremio.svc.cluster.local:8080
    - hostname: aiostreams.bosscher.ch
      service: http://aiostreams.aiostreams.svc.cluster.local:3000
    - hostname: aiometadata.bosscher.ch
      service: http://aiometadata.aiometadata.svc.cluster.local:3232
    - hostname: it-tools.bosscher.ch
      service: http://it-tools.it-tools.svc.cluster.local:8080
    - hostname: stirling-pdf.bosscher.ch
      service: http://stirling-pdf.stirling-pdf.svc.cluster.local:8080
    - hostname: paperless.bosscher.ch
      service: http://paperless-web.paperless.svc.cluster.local:8000
    - hostname: docspell.bosscher.ch
      service: http://docspell-restserver.docspell.svc.cluster.local:7880
    - hostname: sabnzbd.bosscher.ch
      service: http://sabnzbd.sabnzbd.svc.cluster.local:8085
    - hostname: rdt-client.bosscher.ch
      service: http://rdt-client.rdt-client.svc.cluster.local:6500
    - hostname: kite.bosscher.ch
      service: http://kite.kube-system.svc.cluster.local:8080
    - hostname: argocd.bosscher.ch
      service: https://argocd-server.argocd.svc.cluster.local
      originRequest:
        noTLSVerify: true
    - hostname: longhorn.bosscher.ch
      service: http://longhorn-frontend.longhorn-system.svc.cluster.local:80
    - hostname: netalertx.bosscher.ch
      service: http://netalertx.netalertx.svc.cluster.local:20211
    - hostname: technitium-web.bosscher.ch
      service: http://technitium-web.technitium.svc.cluster.local:5380
    - hostname: gatus.bosscher.ch
      service: http://gatus.gatus.svc.cluster.local:8080
    - hostname: grafana.bosscher.ch
      service: http://prometheus-grafana.monitoring.svc.cluster.local:80

    # This rule sends traffic to the built-in hello-world HTTP server. This can help debug connectivity
    # issues. If hello.example.com resolves and tunnel.example.com does not, then the problem is
    # in the connection from cloudflared to your local service, not from the internet to cloudflared.
    - hostname: hello.bosscher.ch
      service: hello_world

    # This rule matches any traffic which didn't match a previous rule, and responds with HTTP 404.
    - service: hello_world
