---
- name: Ensure /etc/rancher/k3s directory exists
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: "0755"

- name: Create /etc/rancher/k3s/config.yaml with Tailscale configuration
  ansible.builtin.copy:
    content: |
      bind-address: {{ eth0_ip }}
      node-external-ip: {{ eth0_ip }}  # Advertises eth0 IP for external access
      # node-ip: {{ tailscale_ip }}  # Sets internal node IP to Tailscale address

      prefer-bundled-bin: true

      flannel-iface: eth0  # Binds Flannel CNI to eth0 interface for pod networking
    dest: /etc/rancher/k3s/config.yaml
    mode: "0644"

- name: Configure kubelet to use limited swap and resource constraints
  ansible.builtin.blockinfile:
    create: True
    path: /var/lib/rancher/k3s/agent/etc/kubelet.conf.d/01-swap-and-constraints.conf
    block: |
      kind: KubeletConfiguration
      apiVersion: kubelet.config.k8s.io/v1beta1

      memorySwap:
        swapBehavior: LimitedSwap
      systemReserved:
        cpu: 100m
        memory: 256Mi
      kubeReserved:
        cpu: 100m
        memory: 256Mi

      node-status-update-frequency: 10s
      max-pods: 200
    marker: "# {mark} ANSIBLE MANAGED BLOCK - memorySwap"
    mode: "0644"
