---
- name: Get Tailscale IP address
  ansible.builtin.shell: ip -4 addr show tailscale0 | grep -oP '(?<=inet\s)\d+(\.\d+){3}'
  register: tailscale_ip
  changed_when: false
  failed_when: tailscale_ip.stdout == ""

- name: Get eth0 IP address
  ansible.builtin.shell: ip -4 addr show eth0 | grep -oP '(?<=inet\s)\d+(\.\d+){3}'
  register: eth0_ip
  changed_when: false
  failed_when: eth0_ip.stdout == ""

- name: Ensure /etc/rancher/k3s directory exists
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: "0755"

- name: Create /etc/rancher/k3s/config.yaml with Tailscale configuration
  ansible.builtin.copy:
    content: |
      bind-address: {{ eth0_ip.stdout }}
      node-external-ip: {{ eth0_ip.stdout }}  # Advertises eth0 IP for external access
      # node-ip: {{ tailscale_ip.stdout }}  # Sets internal node IP to Tailscale address

      prefer-bundled-bin: true

      # flannel-external-ip: true
      flannel-iface: eth0  # Binds Flannel CNI to eth0 interface for pod networking
    dest: /etc/rancher/k3s/config.yaml
    mode: "0644"

- name: Configure kubelet to use limited swap and resource constraints
  ansible.builtin.blockinfile:
    create: True
    path: /var/lib/rancher/k3s/agent/etc/kubelet.conf.d/01-swap-and-constraints.conf
    block: |
      kind: KubeletConfiguration
      apiVersion: kubelet.config.k8s.io/v1beta1

      memorySwap:
        swapBehavior: LimitedSwap
      systemReserved:
        cpu: 100m
        memory: 256Mi
      kubeReserved:
        cpu: 100m
        memory: 256Mi
    marker: "# {mark} ANSIBLE MANAGED BLOCK - memorySwap"
    mode: "0644"
