apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-config
  labels:
    app: gatus
data:
  config.yaml: |
    storage:
      type: sqlite
      path: /data/data.db

    endpoints:
      - name: homepage
        group: core
        url: "http://homepage.homepage.svc.cluster.local:3000"
        interval: 30s
        conditions:
          - "[STATUS] == 200"
          - "[RESPONSE_TIME] < 1000"

      - name: argocd
        group: core
        url: "https://argocd-server.argocd.svc.cluster.local"
        interval: 1m
        client:
          insecure: true
        conditions:
          - "[STATUS] == 200"
          - "[CERTIFICATE_EXPIRATION] > 168h"

      - name: longhorn
        group: storage
        url: "http://longhorn-frontend.longhorn-system.svc.cluster.local:80"
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: netalertx
        group: monitoring
        url: "http://netalertx.netalertx.svc.cluster.local:20211"
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: technitium-dns-query
        group: networking
        url: "technitium.technitium.svc.cluster.local"
        interval: 5m
        dns:
          query-name: bosscher.ch
          query-type: A
        conditions:
          - "[BODY] != ''"
          - "[DNS_RCODE] == NOERROR"

      - name: cloudflare-icmp
        group: external
        url: "icmp://1.1.1.1"
        interval: 1m
        conditions:
          - "[CONNECTED] == true"
