apiVersion: apps/v1
kind: Deployment
metadata:
  name: sabnzbd
  labels:
    app.kubernetes.io/name: sabnzbd
    app.kubernetes.io/part-of: homelab
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: sabnzbd
  template:
    metadata:
      labels:
        app: sabnzbd
    spec:
      automountServiceAccountToken: false
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: city
                    operator: In
                    values:
                      - zurich
      containers:
        - name: sabnzbd
          image: lscr.io/linuxserver/sabnzbd:4.5.5
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 8085
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Zurich
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              # Memory can peak during unpacking files
              memory: 16Gi
          livenessProbe:
            httpGet:
              path: /
              port: 8085
            initialDelaySeconds: 10
            periodSeconds: 60
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 8085
            initialDelaySeconds: 15
            periodSeconds: 60
            timeoutSeconds: 5
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: sabnzbd-config
        - name: downloads
          hostPath:
            path: /mnt/downloads/
            type: DirectoryOrCreate
