apiVersion: v1
kind: ConfigMap
metadata:
  name: couchdb-config
  labels:
    app.kubernetes.io/name: couchdb
    app.kubernetes.io/part-of: obsidian-live-sync
data:
  local.ini: |
    [couchdb]
    single_node=true
    max_document_size = 50000000

    [chttpd]
    require_valid_user = true
    enable_cors = true
    max_http_request_size = 4294967296

    [chttpd_auth]
    require_valid_user = true

    [httpd]
    WWW-Authenticate = Basic realm="couchdb"
    enable_cors = true

    [cors]
    credentials = true
    origins = app://obsidian.md,capacitor://localhost,http://localhost,https://obsidian-live-sync.bosscher.ch
