---
- name: Get Tailscale IP address
  ansible.builtin.shell: ip -4 addr show tailscale0 | grep -oP '(?<=inet\s)\d+(\.\d+){3}'
  register: tailscale_ip
  changed_when: false
  failed_when: tailscale_ip.stdout == ""

- name: Restrict SSH ListenAddress if ssh_listen_address specified
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^ListenAddress"
    line: "ListenAddress {{ tailscale_ip.stdout }}"
    create: no
  notify: restart sshd
  tags: [ssh]

- name: Ensure sshd running
  ansible.builtin.systemd:
    name: sshd
    state: started
    enabled: true
  tags: [ssh]
