apiVersion: apps/v1
kind: Deployment
metadata:
  name: stremio
  labels:
    app.kubernetes.io/name: stremio
    app.kubernetes.io/part-of: homelab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stremio
  template:
    metadata:
      labels:
        app: stremio
    spec:
      nodeSelector:
        city: zurich
      containers:
        - name: stremio
          image: tsaridas/stremio-docker:v1.2.9
          ports:
            - containerPort: 8080
          env:
            - name: NO_CORS
              value: "1"
            - name: AUTO_SERVER_URL
              value: "1"
          volumeMounts:
            - name: data
              mountPath: /root/.stremio-server
            - name: dri
              mountPath: /dev/dri
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 60
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 60
            timeoutSeconds: 5
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: stremio-data
        - name: dri
          hostPath:
            path: /dev/dri/card1
            type: CharDevice
