---
- name: Ensure iscsid service is enabled and started
  ansible.builtin.systemd:
    name: iscsid
    state: started
    enabled: true
  tags: [iscsid]

- name: Apply SELinux fix for Longhorn iscsid
  ansible.builtin.shell: echo '(allow iscsid_t self (capability (dac_override)))' > local_longhorn.cil && semodule -vi local_longhorn.cil
  args:
    chdir: /tmp
  tags: [iscsid]
