---
- name: Ensure /etc/rancher/k3s directory exists
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: "0755"

- name: Create /etc/rancher/k3s/config.yaml with built-in Tailscale configuration
  ansible.builtin.template:
    src: config.yaml.j2
    dest: /etc/rancher/k3s/config.yaml
    mode: "0644"

- name: Get k3s token from first master
  ansible.builtin.command: "cat /var/lib/rancher/k3s/server/node-token"
  register: k3s_token
  changed_when: false
  when: inventory_hostname == groups['kubernetes-control-plane'][0]

- name: Store k3s token
  ansible.builtin.set_fact:
    k3s_token: "{{ k3s_token.stdout }}"
    cacheable: yes
  when: inventory_hostname == groups['kubernetes-control-plane'][0]


