apiVersion: apps/v1
kind: Deployment
metadata:
  name: stacks
  namespace: books
  labels:
    app.kubernetes.io/name: stacks
    app.kubernetes.io/part-of: homelab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stacks
  template:
    metadata:
      labels:
        app: stacks
    spec:
      nodeSelector:
        city: zurich
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              preference:
                matchExpressions:
                  - key: region
                    operator: In
                    values:
                      - europe
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
      initContainers:
        - name: fix-lost-found-permissions
          image: busybox:latest
          command:
            ["sh", "-c", "chown -R 1000:1000 /opt/stacks/ 2>/dev/null || true"]
          volumeMounts:
            - name: download
              mountPath: /opt/stacks/download
      containers:
        - name: stacks
          image: zelest/stacks:v1.2.0
          ports:
            - containerPort: 7788
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          env:
            - name: USERNAME
              value: "admin"
            - name: PASSWORD
              value: "stacks"
            - name: TZ
              value: Europe/Zurich
            - name: SOLVERR_URL
              value: "http://flaresolver.flaresolver.svc.cluster.local:8191"
          volumeMounts:
            - name: config
              mountPath: /opt/stacks/config
            - name: download
              mountPath: /opt/stacks/download
            - name: logs
              mountPath: /opt/stacks/logs
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /
              port: 7788
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 7788
            initialDelaySeconds: 15
            periodSeconds: 60
            timeoutSeconds: 5

      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: stacks-config
        - name: download
          persistentVolumeClaim:
            claimName: calibre-web-ingest
        - name: logs
          persistentVolumeClaim:
            claimName: stacks-logs
