apiVersion: apps/v1
kind: Deployment
metadata:
  name: fusion
  labels:
    app: fusion
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fusion
  template:
    metadata:
      labels:
        app: fusion
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100 # Strong preference for Zurich to reduce latency
              preference:
                matchExpressions:
                  - key: city
                    operator: In
                    values:
                      - zurich
            - weight: 50 # Fallback to any other node in Europe
              preference:
                matchExpressions:
                  - key: region
                    operator: In
                    values:
                      - europe
      containers:
        - name: fusion
          image: ghcr.io/0x2e/fusion:0.9.8
          ports:
            - containerPort: 8080
          env:
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fusion-secret
                  key: password
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 60
            timeoutSeconds: 5
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: fusion-data
