apiVersion: apps/v1
kind: Deployment
metadata:
  name: technitium
  labels:
    app: technitium
spec:
  replicas: 1
  selector:
    matchLabels:
      app: technitium
  template:
    metadata:
      labels:
        app: technitium
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: city
                    operator: In
                    values:
                      - zurich
            - weight: 50
              preference:
                matchExpressions:
                  - key: region
                    operator: In
                    values:
                      - europe
      containers:
        - name: technitium
          image: technitium/dns-server:14.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - name: dns-tcp
              containerPort: 53
              protocol: TCP
            - name: dns-udp
              containerPort: 53
              protocol: UDP
            - name: web
              containerPort: 5380
              protocol: TCP
          env:
            - name: TZ
              value: Europe/Zurich
          volumeMounts:
            - name: config
              mountPath: /app/config
          resources:
            requests:
              cpu: 50m
              memory: 150Mi
            limits:
              memory: 384Mi
          livenessProbe:
            httpGet:
              path: /
              port: web
            initialDelaySeconds: 20
            periodSeconds: 60
            timeoutSeconds: 5
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: technitium-config
