---
- name: Apply shared roles to all nodes
  hosts: all
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3
  pre_tasks:
    - name: Update dnf cache
      ansible.builtin.dnf:
        update_cache: yes
      tags: [always]

    - name: Set network interface IPs
      ansible.builtin.set_fact:
        tailscale_ip: "{{ ansible_tailscale0.ipv4.address | default(ansible_default_ipv4.address) }}"
        eth0_ip: "{{ ansible_eth0.ipv4.address | default(ansible_default_ipv4.address) }}"
      tags: [always]

  roles:
    - { role: ansible-user }
    - { role: security_updates }
    - { role: system-hardening }
    - { role: dotfiles }
    - { role: tools }
    - { role: iscsid }
    - { role: k9s }
    - { role: optimizations }
    - { role: network-optimizations }
    - { role: tailscale }
    - { role: kubecolor }
    - { role: zram }
    - { role: ssh }
    - { role: crowdsec }
    - { role: k3s-oom-protection }
    - { role: k3s-install }
    - { role: firewall }

- name: Kubernetes control plane configuration
  hosts: kubernetes-control-plane
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3
  roles:
    - { role: k3s-common }
    - { role: kubernetes-control-plane }
    - { role: etcd-io-priority }

- name: Kubernetes agent node configuration
  hosts: kubernetes-agent
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3
  roles:
    - { role: k3s-common }
    - { role: kubernetes-agent }
