bind-address: {{ eth0_ip }}
node-external-ip: {{ eth0_ip }}  # Advertises eth0 IP for external access
# node-ip: {{ tailscale_ip }}  # Sets internal node IP to Tailscale address

prefer-bundled-bin: true

flannel-iface: eth0  # Binds Flannel CNI to eth0 interface for pod networking

kubelet-arg:
  - "config=/etc/rancher/k3s/kubelet-config.yaml"

# SELinux support (set to true to enable enforcement after policies are installed)
selinux: false
