bind-address: {{ cluster_network_ip }}
node-external-ip: {{ cluster_network_ip }}  # Advertises cluster network IP for external access
# node-ip: {{ tailscale_ip }}  # Sets internal node IP to Tailscale address

prefer-bundled-bin: true

flannel-iface: {{ cluster_network_interface }}  # Binds Flannel CNI to the cluster network interface for pod networking

kubelet-arg:
  - "config=/etc/rancher/k3s/kubelet-config.yaml"

# SELinux support (set to true to enable enforcement after policies are installed)
selinux: {{ k3s_selinux_enabled | default(true) | bool | lower }}
