apiVersion: apps/v1
kind: Deployment
metadata:
  name: bentopdf
  labels:
    app: bentopdf
    app.kubernetes.io/name: bentopdf
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: bentopdf
  template:
    metadata:
      labels:
        app: bentopdf
    spec:
      containers:
        - name: bentopdf
          image: docker.io/tomblue/bentopdf:v1.11.1
          ports:
            - containerPort: 5000
          env:
            - name: TZ
              value: Europe/Zurich
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 1Gi
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: region
                    operator: In
                    values:
                      - us
