---
- name: Check if k3s is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/k3s
  register: k3s_binary

- name: Install k3s
  ansible.builtin.shell: >
    curl -sfL https://get.k3s.io | sh -
  when: not k3s_binary.stat.exists
